
    <div style="margin-left: 2cm;">
      <h5 style="color: black;">
        <img src="assets/aicon.png" height="28" style="margin-top: 2.3cm; margin-left: 0.3cm;"/>
        <h2 style="margin-left: 1.2cm; margin-top: -0.78cm;">New Leads</h2>
      </h5>
    </div>
    <pre></pre>

    <table>
      <tr>
        <td>
          <div class="selectWrapper">
            <select class="selectBox">
              <option value=" " disabled selected>All Policies</option>
              <option>Health</option>
              <option>Documents</option>
              <option>Gallery</option>
            </select>
          </div>
        </td>
        <td>
          <div class="selectWrapper1">
            <select class="selectBox">
              <option value=" " disabled selected>Recent</option>
              <option>Health</option>
              <option>Documents</option>
              <option>Gallery</option>
            </select>
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-primary">Qualified</button>
        </td>
        <td>
          <button type="button" class="btn btn-primary">Interested</button>
        </td>
        <td>
          <button type="button" class="btn btn-primary1">
            <B class="link"
              ><a routerLink="/addNewLead" style="color: white"
                >ADD NEW LEAD</a
              ></B
            >
          </button>
        </td>
      </tr>
    </table>
    <app-view-page></app-view-page>
  