<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th><p style="margin-left: 1.4cm; margin-top: 1cm">Name</p></th>
        <th>
          <p style="margin-left: 1cm; margin-top: 0.9cm">Last Contacted</p>
        </th>
        <th><p style="margin-left: 1cm; margin-top: 0.9cm">Product</p></th>
        <th><p style="margin-left: 1cm; margin-top: 0.9cm">Email</p></th>
        <th><p style="margin-left: 1cm; margin-top: 0.9cm">Contact</p></th>
        <th><p style="margin-left: 1cm; margin-top: 0.9cm">Lead Stage</p></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <!-- <div>
          <td>
            <p style="margin-left: 1.4cm; margin-top: 1cm">
              {{ l.firstName }} {{ l.lastName }}
            </p>
          </td>
          <td>2 days ago</td>
          <td>Team Insurance</td>
          <td>{{ l.emailAddress }}</td>
          <td>(91){{ l.phoneNumber }}</td>
          <td>Contacted</td>
        </div> -->
      </tr>
    </tbody>
  </table>
</div>
<!-- <a (click)="getAllLead()" style="margin-left: 3cm;">Load</a> -->
<!-- <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table> -->
